/* Centraliza todo o conteúdo */
.quiz-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.quiz-container {
    width: 500px;
    text-align: center;
    background: #1E90FF; /* Azul Vibrante */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-container:hover {
    /*transform: scale(1.05);*/
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

/* Lista de jogadores no topo */
.players-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background: #4B0082; /* Roxo Escuro */
    border-bottom: 3px solid #FFA500; /* Laranja Vibrante */
    overflow-x: auto;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.best-player .player-avatar {
    border: 2px solid #FFD700; /* Amarelo Dourado */
}

.avatar-container {
    position: relative;
    width: 54px;
    height: 54px;
}

.player-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

/* Ícone de acerto */
.icon-correct {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: #32CD32; /* Verde Limão */
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Ícone de erro */
.icon-incorrect {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: #FF4040; /* Vermelho Coral */
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Ícone de troféu */
.icon-trophy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18px;
    height: 18px;
}

.player-name {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #E6E6FA; /* Roxo Lavanda */
}

/* Barra de progresso */
.progress-bar {
    width: 100%;
    height: 10px;
    background: #FFA500; /* Laranja Vibrante */
    margin: 10px 0;
    overflow: hidden;
    /*border-radius: 5px;*/
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
    height: 100%;
    transition: width 1s linear, background 0.5s ease;
    background: linear-gradient(to right, #FF4040, #FFD700, #32CD32); /* Vermelho Coral, Amarelo Dourado, Verde Limão */
}

/* Pergunta */
.question {
    padding: 20px;
    font-size: 1.2rem;
    background: #1E90FF; /* Azul Vibrante */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.quiz-header {
    background-color: blueviolet; /* Roxo Azulado */
}

/* Opções de resposta */
.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.option {
    padding: 15px;
    font-size: 1rem;
    color: white;
    background: #4B0082; /* Roxo Escuro */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.option:hover {
    background: #612c98; /* Roxo Lavanda */
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.option:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.option.correct {
    transform: none;
    background: #32CD32; /* Verde Limão */
    animation: correct-shake 0.5s ease;
}

.option.incorrect {
    transform: none;
    background: #FF4040; /* Vermelho Coral */
}

.option.default {
    transform: none;
    background: #707070; /* Roxo Escuro */
}

.option.default:hover {
    transform: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animação de acerto */
@keyframes correct-shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

.top-left-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 12px;
}

.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 12px;
}

.top-right-buttons > button, .top-left-buttons > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
    padding: 12px 18px;
    border-radius: 12px; /* Bordas mais suaves */
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona profundidade */
    transition: all 0.3s ease; /* Animações suaves para hover e clique */
}

.top-right-buttons > button:hover, .top-left-buttons > button:hover {
    transform: translateY(-2px); /* Efeito de levitar */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Efeito de foco */
}

/* Botão Sair */
.btn-exit {
    background-color: #ff5c5c; /* Vermelho mais suave */
    color: #fff;
}

.btn-exit:hover {
    background-color: #e94f4f;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Efeito de foco */
    transform: scale(1.05); /* Leve zoom no hover */
}

.btn-exit:active {
    transform: scale(0.95); /* Feedback ao clicar */
}

.btn-play-game {
    background-color: #4caf50; /* Verde mais suave */
    color: #fff;
}

.btn-home {
    background-color: #2196F3; /* Azul mais suave */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botão Mutar */
.btn-mute {
    background-color: #b0b8c1; /* Cinza mais claro */
    color: #fff;
    padding: 10px;
}

.btn-mute:hover {
    background-color: #6c757d;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Efeito de foco */
    transform: scale(1.05); /* Leve zoom no hover */
}

.btn-mute:active {
    transform: scale(0.95); /* Feedback ao clicar */
}

/* Ícones */
button i {
    font-size: 1.2rem; /* Tamanho do ícone */
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    color: #333;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
}

.dialog p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.dialog-actions {
    display: flex;
    justify-content: space-around;
}

.dialog-close {
    display: block;
    width: 100%;
    text-align: right;
}

.dialog-close >  button {
    cursor: pointer;
    background: none;
    border: none;
    color: #000;
}

.dialog-close >  button:hover {
    color: #333;
}

.dialog-textarea {
    width: 100%;
    height: 100px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000;
    resize: none;
}

.dialog-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000;
}

.btn-play-game-lobby {
    background-color: #225f9b;
    border: 1px solid #11467b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    animation: border-pulse 4s infinite;
}

@keyframes border-pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(51, 106, 179);
    }
    50% {
        box-shadow: 0 0 8px 4px rgb(51, 106, 179);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(51, 106, 179);
    }
}

.button-pulse {
    background-color: #225f9b;
    border: 1px solid #11467b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    animation: border-pulse 1.5s infinite;
}

.button-pulse::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 7px;
    animation: border-pulse 1.5s infinite;
    pointer-events: none;
}

.btn-confirm {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-info {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ranking {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirm:hover {
    background-color: #45a049;
}

.btn-cancel {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #d32f2f;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 5px 0 20px 0;
    display: block;
}

/* Container do Leaderboard */
.leaderboard-container {
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    margin: auto;
    overflow-x: auto;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* Estilo da Lista de Pontuação */
.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 350px;

    transition: overflow 0.3s ease; /* Suaviza a transição */
}

.leaderboard:hover {
    overflow-y: scroll; /* Mostra o scroll ao clicar */
}

/* Estilo do scroll para navegadores Webkit */
.leaderboard::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
}

.leaderboard::-webkit-scrollbar-track {
    background: #00aaff; /* Cor do trilho */
    border-radius: 10px;
}

.leaderboard::-webkit-scrollbar-thumb {
    background: #ffd700; /* Cor do "polegar" */
    border-radius: 10px;
    border: 2px solid #00aaff; /* Espaço entre o polegar e o trilho */
}

.leaderboard::-webkit-scrollbar-thumb:hover {
    background: #ffcc00; /* Cor ao passar o mouse */
}

/* Compatibilidade com Firefox */
.leaderboard {
    scrollbar-width: thin; /* Espessura do scroll */
    scrollbar-color: #ffd700 #00aaff; /* Polegar e trilho */
}

/* Animação de suavidade no scroll */
.leaderboard {
    scroll-behavior: smooth;
}

/* Estilo para cada item na leaderboard */
.leaderboard-item {
    background-color: #919191; /* Tom mais escuro do cinza */
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Hover no item da leaderboard */
/*.leaderboard-item:hover {*/
/*    background-color: #919191; !* Tom mais escuro do dourado *!*/
/*}*/

/* Avatar do jogador */
.rank-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rank {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid white; /* Borda branca no avatar */
}

/* Nome do jogador no item */
.username {
    font-size: 18px;
    flex-grow: 1;  /* O nome ocupa o espaço disponível */
    text-align: left;
    font-weight: bold;
}

/* Pontuação */
.points {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.points img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Destaque para o primeiro lugar */
.first {
    background-color: #b39a33 !important; /* Ouro */
}

.second {
    background-color: #336ab3 !important; /* Prata */
}

.third {
    background-color: #cd4932 !important; /* Bronze */
}

/* Estilo de borda e sombra */
.leaderboard-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.home-dialog {
    background: linear-gradient(135deg, #ffffff, #f7f7f7); /* Gradiente suave */
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra suave */
    padding: 20px 30px;
    width: 350px;
    max-width: 90%;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.home-dialog > .home-dialog-close {
    display: block;
    width: 100%;
    text-align: right;
}

.home-dialog-actions {
    display: flex;
    justify-content: space-around;
}

.home-dialog-content {
    color: black;
}

.home-dialog-content > p {
    margin-bottom: 20px;
    font-size: 1rem;
}

/* Overlay exclusivo para o Leaderboard */
.leaderboard-dialog-overlay, .home-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Caixa principal do diálogo Leaderboard */
.leaderboard-dialog {
    background: linear-gradient(135deg, #ffffff, #f7f7f7); /* Gradiente suave */
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra suave */
    padding: 20px 30px;
    width: 350px;
    max-width: 90%;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Cabeçalho do diálogo */
.leaderboard-dialog h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Botão de fechar */
.leaderboard-dialog-close {
    display: block;
    width: 100%;
    text-align: right;
}

.leaderboard-dialog-close > button, .home-dialog-close > button {
    cursor: pointer;
    background: none;
    border: none;
    color: #888;
    font-size: 1.5rem;
    transition: color 0.2s ease;
}

.leaderboard-dialog-close button:hover {
    color: #000;
}

/* Subtítulo do Leaderboard */
.leaderboard-dialog h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilo do Leaderboard */
.leaderboard {
    margin-top: 10px;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c6c6c6;
    color: #FFF;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Destaque para os 3 primeiros colocados */
.leaderboard-item.rank-1 {
    background: linear-gradient(135deg, #b39a33, #fbc000); /* Ouro */
    color: #FFF;
}

.leaderboard-item.rank-2 {
    background: linear-gradient(135deg, #265695, #5d94dc); /* Prata */
    color: #FFF;
}

.leaderboard-item.rank-3 {
    background: linear-gradient(135deg, #aa6725, #df9652); /* Bronze */
    color: #FFF;
}

/* Estilo do nome do jogador */
.player-name {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: inherit;
}

/* Ícone do jogador */
.player-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ddd;
    margin-right: 10px;
}

/* Estilo do score */
.player-score {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.language-select-container {
    position: relative;
    display: inline-block;
    z-index: 9999;
}

.language-select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2e2e2e;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    appearance: none; /* Remove o estilo padrão do select */
}

.language-select:hover {
    background-color: #444;
}

.language-select option {
    padding: 5px;
}

/* Adiciona um espaçamento para as bandeiras */
.language-select option::before {
    content: "";
    margin-right: 8px;
}

.selected-option {
    display: flex;
    align-items: center;
    padding: 10px;
}

.flag {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    z-index: 1000;
}

.language-select:hover .dropdown {
    display: block;
}

.dropdown-option {
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #2C2F33; /* Fundo do footer */
    font-size: 14px;
    border-top: 1px solid #202225; /* Linha sutil no topo */
}

.footer img {
    width: 24px; /* Tamanho do ícone */
    height: 24px;
    margin-right: 10px; /* Espaço entre ícone e texto */
}

.footer p {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#chat-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
}

#chat-messages {
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.4;
}

#chat-messages > div {
    padding: 5px;
}

#chat-input {
    display: flex;
    border-top: 1px solid #444;
    background-color: #222;
}

#chat-text {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    background: #333;
    color: white;
    font-size: 14px;
    border-radius: 0;
}

#send-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

#send-button:hover {
    background-color: #777;
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #333;
    border-bottom: 1px solid #444;
}

#toggle-chat {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

#toggle-chat:hover {
    color: #ccc;
}

#chat-container.hidden #chat-messages,
#chat-container.hidden #chat-input {
    display: none;
}

#chat-container.hidden {
    height: 30px;
}

