.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #34495e;
    padding: 10px;
    border-top: 2px solid #2c3e50;
}

.nav-btn {
    font-family: 'Press Start 2P', cursive;
    color: #ecf0f1;
    background-color: transparent;
    border: none;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-btn.active {
    color: #1abc9c;
    text-shadow: 0 0 5px #1abc9c;
}

.nav-btn:hover {
    color: #16a085;
}